@import '../components/grid_section/grid_section';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    font-family: var(--main-text-font);
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color;
    transition-duration: 0.3s;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    background-color: var(--black);
    border: 2px solid var(--white);
    color: var(--white);
    margin: 10px;

    font-size: 13px;
    width: 233px;
    height: 55px;
}

.button:visited {
    color: var(--white);
}

.button:hover {
    color: var(--black);
    background-color: var(--white);
}