@import '../grid_section/grid_section';

section {
    /* border: 1px solid red; */
}

strong {
    color: #ff6bfd;
}


.main_title {
    width: 100%;
    justify-self: end;
    align-self: center;
    text-align: end;

    grid-column-start: 4;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 8;

    font-size: 55px;

    @include is-phone() {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 5;
        font-size: 21px;
        padding: 10px;
    }


    h1 {
        font-weight: 700;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

        @include is-desktop() {
            span {
                display: inline-block;
            }
        }
    }

    p {
        @include is-phone() {
            font-size: 13px;
            font-weight: 300;
            text-transform: uppercase;
            font-style: italic;
            color: white;
            margin: 10px;
        }

        @include is-desktop() {
            grid-column-start: 3;
            grid-column-end: 7;
            grid-row-start: 4;
            grid-row-end: 5;
            justify-self: end;
            font-size: 21px;
            font-weight: 300;
            text-transform: uppercase;
            font-style: italic;
            text-align: end;
            color: white;
            margin: 10px;
        }
    }
}


.call_to_action {
    width: 100%;

    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 9;

    display: flex;
    justify-content: end;

    @include is-phone() {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 5;

        display: flex;
        justify-content: end;
        flex-direction: column;
    }


    .button {
        justify-self: end;
        grid-row-end: 12;
    }

    .button:first-of-type {
        grid-column-start: 5;
        grid-column-end: 8;
    }

    .button:last-of-type {
        grid-column-start: 9;
        grid-column-end: 12;
    }
}